html{
    background-color: #000;
    width: 800px; margin: 0 auto;
}
main{
    background: color #d17a22;
}
h1,h2{
    background-color: #063315;
    color:#14F074;
    padding: 16px;
    font-family: 'DotGothic16', sans-serif;
    text-align:center;
}
table,td{
    border: 3px solid #002B0D;
    background-color: #000;

}
body {
    background-color:#000;
    margin:0;
    overflow:hidden;
    padding:0;
  }
  div {
    animation:colorPulse 5s infinite ease-in-out;
    font-family:'Fira Mono', monospace;
    
  }
  div:before {
    animation:wave 10s infinite ease-in-out;
    content:"";
    height:20vh;
    left:0;
    opacity:.5;
    position:absolute;
    right:0;
    z-index:1;
  }
  
  div:after {
    background-image:linear-gradient(transparent, transparent 3px, #222);
    background-size:4px 4px;
    bottom:0;
    content:"";
    left:0;
    pointer-events:none;
    position:absolute;
    right:0;
    top:0;
    z-index:2;
  }
  
  p:last-child:after {
    animation:blink 1s infinite;
    content:"_";
  }
  
  @keyframes colorPulse {
    0%, 100% {
      color:#0c0;
    }
    48%, 52% {
      color:#090;
    }
    50% {
      color:#060;
    }
  }
  
  @keyframes wave {
    0% {
      box-shadow:0 -10vh 20vh #0c0;
      top:-100vh;
    }
    48%, 52% {
      box-shadow:0 -10vh 20vh #090;
    }
    50% {
      box-shadow:0 -10vh 20vh #060;
    }
    100% {
      box-shadow:0 -10vh 20vh #0c0;
      top:200vh;
    }
  }
  
  @keyframes blink {
    50% {
      opacity:0;
    }
  }
